<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" verbos="true" stopOnFailure="false">
    <php>
        <ini name="memory_limit" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>